.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
}
.wrapper * {
  margin-bottom: 10px;
}

.wrapper *:nth-child(odd) {
  justify-self: right;
}

.wrapper *:nth-child(even) {
  justify-self: left;
  margin-left: 30px;
}