.input {
  height: 55px;
  width: 250px;
  background-color: #fff;
  box-shadow: var(--shadow-m);
  border-radius: var(--xl-border-radius);
  border: none;
  padding: 0px 15px;
  font-size: var(--xs-font-size);
}

.input:focus {
  outline: none;
}

.label {
  font-size: var(--s-font-size);
}