:root {
  --black: #000;
  --darkest-gray: #454545;
  --gray: #7A7A7A;
  --light-gray: #C4C4C4;
  --box-shadow: #00000040;

  --lighter-gray: #F2EEEE;
  --lighter-table-gray: #F3F3F3;
  --lightest-gray: #FAFDFB;

  --salmon: #E8C8C8;
  --background-brown: #ECE9E9;
  --white: #FFFFFF;

  --green: #AAFFAA;
  --blue-green: #009879;
}
