.wrapper {
  margin-top: 50px;
  display: inline-flex;
  width: auto;
  flex-direction: column;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
}

.icon {
  font-size: 150px;
  margin-top: 50px;
  align-self: center;
}