.wrapper {
  display: flex;
  width: 100%;
  justify-content: right;
}

.label {
  flex-grow: 0;
  font-size: var(--s-font-size);
  padding-right: 12px;
}

.picker {
  width: 100%;
  padding:13.5px;
  border-radius: var(--xl-border-radius);
  background-color: white;
  text-align: center;
  padding-right: 45px;
  font-size: var(--s-font-size);
  box-shadow: var(--shadow-m);
  border: 1px solid var(--light-gray);
}

.pickerWrapper {
  width: 60%;
  min-width: 200px;
}